node_modules
dist
.env
.env.production
.env.local
.env.*.local
.env.local.tunaywasy

.idea
.claude
.kiro
.qoder
.vscode

.mcp.json
.opencode.json


package-lock.json
scripts/service-account*.json
# Added by code-review-graph
.code-review-graph/
